@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

body {
width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
font-family: "Poppins", sans-serif;
        outline: none;
        border: none;
        text-align: center;
      
}


:root {
    --branco:  #fff ; 
    --preto : #000;
    --roxo: #993399;

}

#Login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.login-form {
    background: #fff;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.login-form  legend {
    margin: 2vh 0;
    font-size: 2vh;
}
.login-form fieldset {
    border: none;
}

.login-form label {
    font-size: 2vh;
    display: block;
    margin-bottom: 1vh;
}

.login-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 3vh;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-form button {
    width: 100%;
    padding: 12px;
    background-color: #8f0cb7;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: rgb(113, 9, 111);
}
.cadastrar {
   
    margin-top: 2px;
    font-size: 0.7vw;
    text-align: right;
    text-decoration: none;
    
    
}

.cadastrar a {
    color: var(--preto);
    transition: color 0.3s ease;
    
    text-decoration: none;
}
